<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" " http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.founder.dao.UserDAO">


    <select id="queryAll" resultType="com.founder.entity.User">
        select id,name,age,bir from t_user
    </select>


    <insert id="save" parameterType="com.founder.entity.User">
        insert into  t_user values(#{id},#{name},#{age},#{bir})
    </insert>


</mapper>
